	<div class="nav">
		<!-- TODO: Сделать логотип -->
		<div class="element">
			<div class="point">
				<a href="/">Главная</a>
			</div>
		</div>
		<div class="element">
			<div class="point">
				<a href="/blog">Блог</a>
			</div>
		</div>
		<div class="element">
			<div class="point">
				<a href="/me">Обо мне</a>
			</div>
		</div>
		<div class="element">
			<div class="point">
				<a href="/projects">Проекты</a>
			</div>
		</div>
		<div class="element">
			<div class="point">
				<a href="/contacts">Контакты</a>
			</div>
		</div>
		<div class="element">
			<div class="avatar">
				<a href="/"><img src="http://cs622725.vk.me/v622725320/46862/Ze2oB8Wdk-s.jpg"></a>
			</div>
		</div>
	</div>