<!DOCTYPE html>
<html>
<%= erb :'partials/head' %>
<body>

	<%= erb :'partials/header' %>
	
	<form action="/addpost" method=POST>
		Заголовок: <input type="text" name="head">
		Текст сообщения: <textarea name="body" cols="40" rows="3"></textarea>
		<input type="submit" value="Запостить!"> 
	</form>
</body>
</html>