<!DOCTYPE html>
<html>
<%= erb :'partials/head' %>
<body>

	<%= erb :'partials/header' %>
	
	<!-- Если один пост -->
	<% begin %>
	<div class="text">
		<% @posts.each do |p| %>
			<a href="/post/<%= p.id %>"><h1><%= p.head %></h1></a>
			<p><%= p.body[0,140] %><%= '...' %></p>
		<% end %>
	</div>
	<% rescue %>
	<div class="text">
		<h1><a href="/post/<%= @posts.id %>"><%= @posts.head %></a></h1>
		<p><%= @posts.body[0,140] %><%= '...' %></p>
	</div>
	<% end %>
</body>
</html>