<!DOCTYPE html>
<html>
<%= erb :'partials/head' %>
<body>

	<%= erb :'partials/header' %>
	
	<div class="text">
		<center>
			<div class="cont">
				<p>Мои контакты:</p>
				<br>
				<a href="http://telegram.me/shiroeni">Telegram</a>
				<a href="xmpp:sh1n4no@miqote.com">Jabber</a>
				<a href="http://vk.com/id316905320">VK</a>
				<a href="skype:shiroeni">Skype</a>
				<a href="mail:shiroeni@outlook.com">EMail</a>
				<a href="/">MAL</a>
				<a href="/">Google+</a>
				<a href="/">Facebook</a>
				<a href="/">Twitter</a>
			</div>
			<br /><br />
			<div id="messg">Временами случается, что не читаю и не отвечаю по несколько дней несмотря на статус онлайна.</div>
		</center>
	</div>
</body>
</html>