<!DOCTYPE html>
<html>
<%= erb :'partials/head' %>
<body>

	<%= erb :'partials/header' %>
	<div class="posts">
	<% begin %>
		<% @posts.each do |p| %>
		<div class="colon">
			<h1><%= p.head %></h1>
			<p><%= p.body[0,140] %><%= '...' %></p>
			<center><a href="/post/<%= p.id %>" class="myButton">Читать...</a></center>
		</div>
		<% end %>
	<% rescue %>
	<div class="colon">
		<h1><%= @posts.head %></h1>
		<p><%= @posts.body[0,140] %><%= '...' %></p>
		<center><a href="/post/<%= @posts.id %>" class="myButton">Читать...</a></center>
	</div>
	<% end %>
	</div>
</body>
</html>