<!DOCTYPE html>
<html>
<%= erb :'partials/head' %>
<body>

	<%= erb :'partials/header' %>
	
	<div class="text">
		<h1>Кто я?</h1>
		<p>Я студент-программист из города Тольятти.</p>
		<p>По некоторым личным причинам и паранойе я использую в интернете свое сетевой имя - shiroeni, хотя иногда подписываюсь как Евгений (мое настоящее имя). Мне нравится идея Open Source, но без фанатизма. Мечтаю внести большой вклад в развитие IT и/или развитие разработки игр. В свободное время изучаю теорию игростроя, а так же язык С++ и SDL. Хочу выучить японский язык, но не хватает времени (а чаще просто лень) чтобы этим заняться. В личных проектах использую такие языки как HTML, CSS, Ruby и C#.</p>
		<h1>Мои интересы</h1>
		<p>Я являюсь аниме-ребенком. По этой причине у меня в блоге можно найти картинки анимешной тематики, скриншоты игр так или иначе относящихся к Японии, а так же понравившиеся аниме-арты. Так же не исключено что у меня в блоге возможно увидеть картинки на тематику My Little Pony: Friendship is Magic. Несмотря на то, что я не называю себя гордым "брони", этот мультсериал у меня один из самых любимых.</p>
		<p>Слушаю в основном околорок или околофолк. Бывает время от времени слушали то блэк-метал, то абстрактный хип-хоп, то совсем простую поп-музыку.</p>
		<p>Из понравившихся аниме могу выделить Bakemonogatari, Slayers, Puella Magi Madoka Magika, Welcome to NHK, Log Horizon и Ranma 1/2. Основных предпочтений нет, но нравятся тайтлы на фентэзи-тематику в духе Hitsugi no Chaika и Slayers.</p>
		<p>Из игр преподчитаю стратегии. В основном RTS. Люблю серию Command & Conquer (Red Alert 2, Tiberium Wars), первую часть Company of Heroes. Часто играю в глобальные стратегии от Paradox Development Studio, такие как Europa Universalis III, Crusader King II и Victoria II. Иногда играю в сетевые шутеры, правда, в основном в Counter-Strike.</p>
		<p>Со мной можно связаться через любой сервис в котором я есть. Такие можно посмотреть на <a href="/contacts">соответствующей странице</a>. Самый действенный способ со мной связаться - написать в <a href="http://telegram.me/shiroeni">Telegram</a>, <a href="xmpp:sh1n4no@miqote.com">Jabber</a> или в <a href="http://vk.com/id316905320">VK (фейк)</a>. В остальных сервисах бываю не так часто.</p>
	</div>
</body>
</html>