<!DOCTYPE html>
<html>
	<title>404</title>
	<style>
	body {
		background-color: #f5f5f5;
		font-family: 'Larsseit';
		font-size: 26px;
	}
	p {
		display: block;
		margin-top: 15%;
	}
	img {
		position: absolute;
		display: block;
		left:10%;
		bottom: 0;
	}
	</style>
<body>
<center><p>Ты уверен в правильности ссылки? Попробуй снова!</p></center>
<img src="/img/mami_tomoe.png" width="30%">
</body>
</html>