<!DOCTYPE html>
<html>
<%= erb :'partials/head' %>
<body>

	<%= erb :'partials/header' %>
	
	<div class="text">
		<h1><%= @posts.head %></h1>
		<p><%= @posts.body %></p>
		<p id="time"><%= @posts.posttime %></p>
	</div>
</body>
</html>