<!DOCTYPE html>
<html>
<%= erb :'partials/head' %>
<body>

	<%= erb :'partials/header' %>
	
	<div class="text">
		<h1>Участие в проектах:</h1>
		<p><b><a href="http://nyaaradio.ru">NyaaRadio</a></b> (ныне недоступен) - онлайн-радио. Моя роль была как программиста бек-энда и администратора сервера. Из живого остались тестовая версия веб-сайта созданная на express.js и бот для jabber-конференции. Простановлен (из-за личных проблем создателей), запуск NyaaRadio 2.0 запланирован на лето 2016 года. Репозиторий: <a href="https://gitlab.com/shiroeni/NyaaRadioPages_Old">сайт</a>, <a href="https://gitlab.com/shiroeni/TenguBot">бот</a>.</p>
		<p><b><a href="#">Lunatique-Radio</a></b> - в рамках проекта -  создание веб-сайта, ботов для ВК и для Telegram, а так же создания внутренних скриптов. Запуск запланирован 1-го декабря 2015. Репозитории временно закрыты (так пожелал лидер проекта), позже, возможно, будут открыты, за прогрессом можно будет смотреть <a href="http://elin.pp.ua">тут</a>.</p>
		<h1>Личные проекты:</h1>
		<p><b><a href="/">MyLittlePage</a></b> - этот самый сайт. Создал и продолжаю дополнять и редактировать внутренний код на Sinatra. <a href="https://gitlab.com/shiroeni/my-little-page">Репозиторий</a>.</p>
	</div>
</body>
</html>