* {
	margin: 0;
}

body {
	background-color: #f5f5f5;
}

.nav {
	width: 100%;
	height: 70px;
	background-color: #2c3e50;
}

.nav .element .point {
	margin-top: 20px;
	float: left;
	font-size: 60px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'Iris KG';
}

.nav .element .point a {
	text-decoration: none;
	color: #f5f5f5;
}

.nav .element .point a:hover {
	color: white;
	text-shadow: 0 0 15px;
}

.nav .element .avatar {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.nav .element .avatar img {
	border-radius: 100px;
}

.posts {
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

.posts .colon {
	width: 30%;
	margin-left: 3%;
	float: left;
	font-family: 'Larsseit';
}

.posts .colon p {
	font-size: 18px;
}

.posts .colon h1 {
	font-size: 26px;
}

.cont {
	width: 100%;
	height: 90%;
	margin-top: 25px;
	float: left;
	font-family: 'Larsseit';
	font-size: 20px;
}

.cont a {
	margin-left: 15px;
}

#messg {
	margin: 33% 33% 0 33%;
}

.cont a {
	font-size: 20px;
	text-decoration: none;
	margin-left: 10px;
	color: black;
}

.cont a:hover {
	text-shadow: 0 0 15px;
}

.text {
	width: 90%;
	height: 90%;
	margin-top: 25px;
	margin-left: 5%;
	float: left;
	font-family: 'Larsseit';
	font-size: 20px;
}

.text h1 {
	font-size: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.text p {
	padding-top: 10px;
	padding-bottom: 10px;
}

.text a {
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.text a:hover {
	text-shadow: 0 0 15px;
}

.text #time {
	font-size: 18px;
	padding-top: 50px;
	float: right;
}

.myButton {
	margin-top: 30px;
	-moz-box-shadow: 0px 1px 0px 0px #2c3e50;
	-webkit-box-shadow: 0px 1px 0px 0px #2c3e50;
	box-shadow: 0px 1px 0px 0px #2c3e50;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2c3e50), color-stop(1, #2c3e50));
	background:-moz-linear-gradient(top, #2c3e50 5%, #2c3e50 100%);
	background:-webkit-linear-gradient(top, #2c3e50 5%, #2c3e50 100%);
	background:-o-linear-gradient(top, #2c3e50 5%, #2c3e50 100%);
	background:-ms-linear-gradient(top, #2c3e50 5%, #2c3e50 100%);
	background:linear-gradient(to bottom, #2c3e50 5%, #2c3e50 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c3e50', endColorstr='#2c3e50',GradientType=0);
	background-color:#2c3e50;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #2c3e50;
	display:inline-block;
	cursor:pointer;
	color:#f5f5f5;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2c3e50;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2c3e50), color-stop(1, #2c3e50));
	background:-moz-linear-gradient(top, #2c3e50 5%, #2c3e50 100%);
	background:-webkit-linear-gradient(top, #2c3e50 5%, #2c3e50 100%);
	background:-o-linear-gradient(top, #2c3e50 5%, #2c3e50 100%);
	background:-ms-linear-gradient(top, #2c3e50 5%, #2c3e50 100%);
	background:linear-gradient(to bottom, #2c3e50 5%, #2c3e50 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c3e50', endColorstr='#2c3e50',GradientType=0);
	background-color:#2c3e50;
}
.myButton:active {
	position:relative;
	top:1px;
}
